h1 {
  color: RGB(132, 31, 39);
  }

.header {
  background-image: url("https://int.nyt.com/applications/cooking/static/images/HeroImage.jpg");
  height: 400px;
  background-position: center center;
  }
 
